{% extends 'home/base.html' %}

{% block title %}BSBE IIT Jodhpur{% endblock title %}
{% block body %}
{% load static %}

<!-- slider -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'home/images/SlideshowImg1.jpg' %}" class="d-block w-100"  alt="...">
      <div class="carousel-caption d-none d-md-block">
        {% comment %} <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p> {% endcomment %}
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'home/images/SlideshowImg2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        {% comment %} <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p> {% endcomment %}
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'home/images/SlideshowImg3.jpg' %}" class="d-block w-100 " alt="...">
      <div class="carousel-caption d-none d-md-block">
        {% comment %} <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p> {% endcomment %}
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      
<!-- horizental line -->
<hr>
{% comment %} Cards for announcement  {% endcomment %}
<div class="container-fluid ">
    <div class="row bg-submit justify-content-evenly">
        
        <div class="col-md-3 ">
          <div class="card" >
              <a href="#" class="btn btn-success btn-lg" >Announcements</a>
              
              <div class="card-body">
                  <ol class="list-group list-group-numbered ">
                      <li class="card-text overflow-auto list-group-item">Comming Soon.......</li>
                      
                    </ol>
                <hr>
                <div class="text-center">
                  <a href="#" class="btn btn-success">Read More</a>
                </div>
              </div>
            </div>
          
        </div>
        <div class="col-md-3 ">
          <div class="card" >
              <a href="/allresearch" class="btn btn-success btn-lg" >Research Highlights</a>
              
              <div class="card-body">
                  <ol class="list-group list-group-numbered">
                      {% for rsch in Research|slice:":5" %}
                      <li class="card-text overflow-auto list-group-item" ><a target="_blank" style="text-decoration: none; color:black" href = {{ rsch.link }}>{{ rsch.title }} </a></li>
                      {% endfor %}
                      {% comment %} <a href="../academic" target="_blank" style="text-decoration: none;">More Details- Click Here</a> {% endcomment %}

                      <!--
                      <li class="card-text overflow-auto list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content</li>
                      <li class="card-text overflow-auto list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content</li>
                      <li class="card-text overflow-auto list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content</li>
                      <li class="card-text overflow-auto list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content</li>
                      -->
                    </ol>
                <hr>
                <div class="text-center">
                  <a href="/allresearch" class="btn btn-success">Read More</a>
                </div>
              </div>
              
            </div>

        </div>
        <div class="col-md-3 ">
              <div class="card" >
              <a href="/allnews" class="btn btn-success btn-lg" >News and Events</a>
              
              <div class="card-body">
                  <ol class="list-group list-group-numbered">
                    {% for newses in NewsAndEvents|slice:":5" %}
                      <li class="card-text overflow-auto list-group-item"><a target="_blank" style="text-decoration: none; color:black" href = {{ newses.link }}>{{ newses.title }}</a></li>
                      {% endfor %}
                      {% comment %} <li class="card-text overflow-auto list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content</li>
                      <li class="card-text overflow-auto list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content</li>
                      <li class="card-text overflow-auto list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content</li>
                      <li class="card-text overflow-auto list-group-item">Some quick example text to build on the card title and make up the bulk of the card's content</li> {% endcomment %}
                      
                    </ol>
                <hr>
                <div class="text-center">
                  <a href="/allnews" class="btn btn-success">Read More</a>
                </div>
              </div>
              </div>
        </div>
        
    </div>
</div>
<hr>
{% comment %} about us mission and vision {% endcomment %}
<div class="container-fluid" style="background-image: url({% static 'home/images/bg-imag.jpg' %}); background-repeat: no-repeat;background-position: right top;margin-right: 200px;background-attachment: fixed;">
  <div class="row justify-content-evenly" >

      <div class="col-md-4 mt-4 mb-5">
          <div class="card" >
              <a href="#" class="btn btn-success btn-lg" >About Us</a>
              
              <div class="card-body">
                  <ol class="list-group list-group-numbered" style="font-family: Times New Roman, Times, serif;"
                    
                      <p>The Department of Bioscience & Bioengineering at IIT Jodhpur, established in 2009 offers a B.Tech. program in Bioengineering, an M.Tech. and M.Tech-Ph.D. dual degree programs in Bioscience & Bioengineering. Our programs are uniquely designed to inspire innovations in biotechnology, engineering, and medicine from an understanding of  biological systems.  This capacity building is assuming importance in the present times for providing solutions to societal problems in trans-disciplinary frameworks. A major focus is on neurosciences and neurodegenerative disorders, mechanistic biology, environmental and medical microbiology, computational biology, precision health, and bioprospecting for novel molecules and bio-actives from natural resources of the Thar ecoregion. We also offer a competitive Ph.D. program to inculcate scientific temper, independent thinking, and skillsets for scientific entrepreneurship</p>
                    </ol>
                <hr>
                <div class="text-center">
                  <a href="/academic" class="btn btn-success">Read More</a>
                </div>
                
              </div>
              </div>
      </div>
      <div class="col-md-4 mt-4 mb-5">
          <div class="card" >
              <a href="#" class="btn btn-success btn-lg" >Mission And Vision</a>
              
              <div class="card-body">
                <ol class="list-group list-group-numbered" style="font-family: Times New Roman, Times, serif;"
                    
                <p>At the BSBE we aspire to provide state-of-the-art domain knowledge and training to understand biological systems, provide innovative Bio-Tech solutions for applications in medical and environmental engineering domains that include biofuels, diagnostics, therapeutics, smart healthcare devices.  The department is involved in major transdisciplinary flagship programs involved in drug discovery,  genomics as well as affordable, integrative, and precision health care solutions and Big Data Biology with the School of Artificial Intelligence and Data Sciences. We aspire to build an ecosystem of graduates who have the capacity to be future biotech and med-tech entrepreneurs as well as participate in transdisciplinary domains of Smart Healthcare technologies, Genomic Technologies, and Big Data sciences, Systems and Synthetic Biology, Precision medicine, and environmental sciences.</p>
              </ol>
                <hr>
                <div class="text-center">
                  <a href="/academic" class="btn btn-success">Read More</a>
                </div>
              </div>
              </div>
      </div>
  </div>
</div>




{% endblock body %}
