{% extends 'home/base.html' %}

{% block title %}Postgraduate Program{% endblock title %}
{% block body %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12 bg-success text-md-center m-md-3 p-5 rounded text-white">
            <h1>Postgraduate Program</h1>
        </div>
        <div>
        <H1> MTech in Bioengineering</h1>
            <p> The Department of Bioscience and Bioengineering at IIT Jodhpur is committed to produce professionals and leaders through innovative teaching and research. The B.Tech program will be rewarding experience for the young aspirants to impetus their professionals carrers.
            </p>
            <p class="ab" style="margin-left:20px;">   
                <i class="far fa-hand-point-right" aria-hidden="true"></i>
                 <a href="https://iitj.ac.in/department/http/iitj.ac.in/uploaded_docs/dept_upload/bio/M.Tech._Curriculum_Revised_document-2021-08-05-8-12-am.pdf" target="_blank"> Detailed curriculum for M.Tech BSBE</a> 
            </p>
            
            <p class="ab" style="margin-left:20px;">
                     <i class="far fa-hand-point-right" aria-hidden="true"></i> <a href="https://iitj.ac.in/uploaded_docs/Regulation/Academic_Regulations_Final_03_09_2019.pdf" target="_blank"> Regulations for Undergraduate Programs</a>
            </p>
        </div>

        <div>
            <H1> MTech-PhD Duel Degree Program in Bioengineering</h1>
                <p> The Department of Bioscience and Bioengineering at IIT Jodhpur is committed to produce professionals and leaders through innovative teaching and research. The duel degree MTech-PhD program in Bioengineering is conceptualized to enable students to address several technological challenges; and overall, it will be a rewarding experience for young aspirants to impetus their professional carrers. 
                </p>
                <p class="ab" style="margin-left:20px;">   
                    <i class="far fa-hand-point-right" aria-hidden="true"></i>
                     <a href="#" target="_blank"> Detailed curriculum for M.Tech-Phd Duel Degree</a> 
                </p>
                
                <p class="ab" style="margin-left:20px;">
                         <i class="far fa-hand-point-right" aria-hidden="true"></i> <a href="https://iitj.ac.in/uploaded_docs/dept_upload/bio/MTechprogramstructure_document-2020-04-24-22-58-pm.pdf" target="_blank"> Program Structure for M.Tech-PhD Duel Degree </a>
                </p>
            </div>
            



        </div>
    </div>
{% endblock body %}
