{% extends 'home/base.html' %}

{% block title %}Doctoral Program{% endblock title %}
{% block body %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12 bg-success text-md-center m-md-3 p-5 rounded text-white">
            <h1>Doctoral Program</h1>
        </div>
        <H1> PhD in Bioengineering</h1>
            <p> The doctoral program at the Department of Bioscience and Bioengineering (BSBE) permits students to undertake cutting edge research in the fields of Cellular & Molecular Neuroscience,  Bioimaging, Computational Biology & Bioinformatics, Microbial physiology, Genomics, Environmental Biotechnology, Chemical Biology, Structural Biology, Protein Engineering, Centrosome Biology, Immunology, Statistical Genetics, Biomaterials Engineering, Tissue Engineering, Nanomedicine, and Drug Delivery. The doctoral program constitutes the major pillar of the department research in strengthening the journey towards technological solutions healthcare, water, food, and environment.  The department strongly encourages interdisciplinary research in the interface of Biology, Chemistry, Computer Science, and Engineering.

 
            </p>
            <p class="ab" style="margin-left:20px;">   
                <i class="far fa-hand-point-right" aria-hidden="true"></i>
                 <a href="http://iitj.ac.in/uploaded_docs/dept_upload/bio/_document-2020-05-03-21-52-pm.pdf" target="_blank"> Essential Topic cloud</a> 
            </p>
            <p class="ab" style="margin-left:20px;">
                <i class="far fa-hand-point-right" aria-hidden="true"></i>
                 <a href="https://iitj.ac.in/uploaded_docs/dept_upload/bio/_document-2020-05-03-21-34-pm.pdf" target="_blank"> Detailed curriculum for PhD</a> 
            </p>
            <p class="ab" style="margin-left:20px;">
                     <i class="far fa-hand-point-right" aria-hidden="true"></i> <a href="https://iitj.ac.in/uploaded_docs/dept_upload/bio/_document-2020-05-03-21-34-pm.pdf" target="_blank"> Program Strcuture of Doctoral Program</a>
            </p>
        </div>
    </div>
{% endblock body %}
