{% extends 'home/base.html' %}

{% block title %}Projects{% endblock title %}
{% block body %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-12 bg-success text-md-center m-md-3 p-5 rounded text-white">
            <h1>Sponsors and Collaborations</h1>
        </div>

    </div>
</div>

<div class="container">
    <p><b>Collaborations:</b>
    Faculty Members of the Department have established to conduct research in active collaboration with colleagues from the following Institutions:


            <div class="col-md-1-12">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">


International Collaborations

                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                     <div class="accordion-body">

                    Max Planck Institute of Molecular Physiology,Germany<br>
                    University Hospital Erlangen, Germany<br>
                    Christian-Albrecht University of Kiel,Germany<br>
                    Lund University, Sweden<br>
                    University of California, Riverside, USA<br>
                    University of Washington, Seattle, USA<br>
                    University of Kansas Medical Center, Kansas City, USA<br>
                    Lineberger Comprehensive Cancer Care Centre, USA<br>
                    University of Melbourne, Australia<br>
                    International Centre for Genetic Engineering and Biotechnology, India<br>
                    Riken Brain Science Institute, Japan<br>
                    Institute of Environmental Medicine, Nagoya University, Japan<br>
                    Juntendo University Graduate School of Medicine, Japan<br>
                    ISIR, Osaka University, Japan<br>
                    Seoul National University , South Korea<br>
                    Kasetsart University, Thailand<br>
                    National Tsing Hua University, Taiwan<br>
                    </div>

                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    National Collaborations
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                                    <div class="accordion-body">
                    	Indian Institute of Technology, Kharagpur<br>
                        Indian Institute of Technology, Kanpur<br>
                        Indian Institute of Technology, Bombay<br>
                        Indian Institute of Technology, Roorkee<br>
                        Indian Institute of Technology, Indore<br>
                        Indian Institute of Technology, Mandi<br>
                        National Institute of Technology, Rourkela<br>
                        All India Institute of Medical Sciences, New Delhi<br>
                        All India Institute of Medical Sciences, Jodhpur<br>
                        Central Drug Research Institute, Lucknow<br>
                        Indian Institute of Chemical Biology, Kolkata<br>
                        National Brain Research Centre, Gurgaon<br>
                        Bhabha Atomic Research Centre, Mumbai<br>
                        Indian Institute of Science Education & Research, Bhopal<br>
                        National Institute of Science Education and Research, Bhubaneswar<br>
                        Bose Institute, Kolkata<br>
                        S. N. Bose National Centre for Basic Sciences, Kolkata<br>
                        Institute of Bioinformatics and Applied Biotechnology, Bengaluru<br>
                        Institute of Bioinformatics, Bengaluru<br>
                        Indian Statistical Institute, Kolkata<br>
                        National Institute of Technical Teachers’ Training and Research, Kolkata<br>
                        Advanced Centre for Treatment, Research and Education in Cancer, Mumbai<br>
                        Indian Association for the Cultivation of Science, Kolkata<br>
                        Christian Medical College, Vellore<br>
                        Vellore Institute of Technology, Vellore<br>
                        Madurai Kamaraj University, Madurai<br>
                        Central University of Rajasthan, Ajmer<br>
                        Panjab University, Chandigarh<br>
                        Yenepoya University (Deemed), Mangalore<br>
                    </div>

                </div>
              </div>


                <p>
<br><br>
The Department of Bioscience & Bioengineering is also keen on establishing active collaboration with individuals from academia, R&D laboratories and the industry both within India and abroad, in areas of mutual interest. The domains of these collaborations could include:
 	1. 	Teaching of courses,<br>
 	2.	Organizing Short Courses / Workshops,<br>
 	3.	Co-authoring of books,<br>
 	4.	Undertaking Joint Research, and<br>
 	5.	Developing technologies for diagnostics and treatment by medical professionals.
                </p>

                <p>
                    <b>
                        Memoranda of Understanding
                    </b>

We have active Memoranda of Understanding with:<br>
 	1. 	All India Institute of Medical Sciences, Jodhpur<br>
 	2.	National Law University, Jodhpur,<br>
 	3.	CSIR - Institute of Genomics & Integrative Biology, New Delhi<br>
 	4.	Council for Scientific & Industrial Research<br>
which allows us to effectively conduct research and offer courses in interdisciplinary areas. We are also interested in establishing MoUs with National Laboratories, Technological Institutes and Industry Partners.<br>
                </p>
</div>

{% endblock body %}
